body {
    background: url('/static/images/background.png') no-repeat center center/cover;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column; /* Mengatur agar elemen tersusun vertikal */
}

.header { /* Menambahkan header untuk tombol Home */
    background-color: #f0f0f0; /* Warna latar belakang header */
    padding: 10px;
    width: 100%;
    display: flex;
    justify-content: flex-start; /* Menempatkan tombol Home di kiri */
}

.home {
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background-color: #6a11cb;
    border-radius: 5px;
    border: none;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-right: 20px; /* Menambahkan jarak antara tombol dan konten */
}

.home:hover {
    background-color: #0056b3;
}

.container {
    text-align: center;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 20px; /* Menambahkan margin untuk jarak dari tepi */
    flex: 1; /* Mengisi sisa ruang vertikal */
    overflow-y: auto; /* Agar isi table bisa scroll jika terlalu panjang */
}

h2 {
    text-align: center;
    padding: 12px;
    border: 1px solid #000000;
    background-color: #28a745;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 0 auto;
    table-layout: fixed; /* Agar kolom memiliki lebar yang sama */
}

table th, table td {
    padding: 12px;
    border: 1px solid #000000;
    overflow: hidden; /* Agar teks tidak keluar dari kolom */
}

table th {
    background-color: #28a745;
    color: #fff;
    font-weight: bold;
}

table tr:nth-child(even) {
    background-color: #f9f9f9;
}

table tr:hover {
    background-color: #f1f1f1;
}