body {
    background: url('/static/images/background.png') no-repeat center center/cover;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
}

.container {
    text-align: center;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 20px;
    flex: 1;
    overflow-y: auto;
}

h1 {
    text-align: center;
    padding: 12px;
    background-color:  #28a745;
    color: white;
    margin-top: 80px;
    margin-bottom: 0; /* Removes default margin below h2 */
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 0 auto;
    table-layout: fixed;
}

table th, table td {
    padding: 12px;
    border: 1px solid #000000;
    overflow: hidden;
}

table th {
    background-color: #28a745;
    color: #fff;
    font-weight: bold;
}

table tr:nth-child(even) {
    background-color: #f9f9f9;
}

table tr:hover {
    background-color: #f1f1f1;
}