<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{% endblock %}</title>  <!-- Judul halaman, akan diisi oleh template anak -->
    <!-- Tautan CSS dan JavaScript di sini -->
    <link rel="stylesheet" href="/static/style/base.css">
    {% block additional_css %}{% endblock %}
</head>
<body>
    <header>
        <!-- Kode header Anda di sini -->
        <div class="header-left">
            <div class="logo">
                <img src="/static/images/logo.jpg" alt="Logo" class="logo">
            </div>
            <div class="welcome-text">
                Selamat datang di website saya
            </div>
        </div>
        <div class="header-right">
            <nav>
                <ul>
                    <li><a href="{{ url_for('home') }}">Home</a></li>
                    <li><a href="{{ url_for('login') }}">Login</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <main>
        {% block content %}{% endblock %}  <!-- Bagian konten utama, akan diisi oleh template anak -->
    </main>

    <!-- Footer (jika ada) -->
    <footer>
      <link rel="stylesheet" href="/static/style/footer.css">
      <p>&copy; 2025 My Website. All rights reserved.</p>
  </footer>
</body>
</html>