{% extends 'base.html' %}

{% block title %}User{% endblock %}

{% block content %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style/user-view.css') }}">
    <h1>Daftar Kereta</h1>
    
    <table id="trainTable">
        <thead>
            <tr>
                <th>Nama Kereta</th>
                <th>Tanggal</th>
                <th>Jam</th>
                <th>Hari</th>
                <th>Prediksi Waktu</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            {% if trains %}
                {% for train in trains %}
                <tr>
                    <td>{{ train[1] }}</td>  <!-- Nama Kereta -->
                    <td>{{ train[2] }}</td>  <!-- Tanggal -->
                    <td>{{ train[3] }}</td>  <!-- Jam -->
                    <td>{{ train[4] }}</td>  <!-- Hari -->
                    <td>{{ train[5] }}</td>  <!-- Prediksi Waktu -->
                    <td>{{ train[6] }}</td>  <!-- Status -->
                </tr>
                {% endfor %}
            {% else %}
                <tr>
                    <td colspan="6">Tidak ada data kereta yang ditemukan</td>
                </tr>
            {% endif %}
        </tbody>
    </table>
{% endblock %}
